
html, body, .container /*, and all other map parent selectors*/ {
  height: 100%;
  overflow: hidden;
  width: 100%;
  margin:auto;
}
h1 {
    color: #ff6f69;
    text-align: center;
}
#mapid {
    width: auto;
    height: 100%;
    /* width: 100px;
    height:500px;
    min-height: 100%;
    min-width: 100%;
    display: block; */
}



.item1 {
  padding-left: 15px;
  /*position: absolute;*/
  z-index: 1000;
  /*top: 5%;
  left: 2%;
  width: 20%;
  height: 7%;*/
  background-color: white;
  border-radius: 7px;
  position: relative;
}
/*.item1::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 18px solid transparent;
	border-top-color: white;
	border-bottom: 0;
	margin-left: -18px;
	margin-bottom: -18px;
  display: none;
}*/

.item2 {
  padding-left: 15px;
  z-index: 1000;
  background-color: white;
  border-radius: 7px;
  grid-row-start: 2;
  grid-row-end: 3;
  display: none;
  position: relative;
}

.truncate {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*.item2::after{
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 18px solid transparent;
  border-left-color: white;
  border-right: 0;
  margin-top: -18px;
  margin-right: -18px;
}*/

.item3 {
  padding-left: 15px;
  z-index: 1000;
  background-color: white;
  border-radius: 7px;
  grid-row-start: 1;
  grid-row-end: 5;
  display: none;
  position: relative;
}

/*.item3::after{
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 18px solid transparent;
  border-left-color: white;
  border-right: 0;
  margin-top: -18px;
  margin-right: -18px;
}*/

.item4 {
  padding-left: 15px;
  z-index: 1000;
  background-color: white;
  border-radius: 7px;
  grid-row-start: 1;
  grid-row-end: 5;
  position: relative;
  display: none;
}

.infoBubble{
  position: fixed;
  /* width: 400px; */
  /* height: 100px; */
  z-index: 1000;
  margin: 60px auto 0 -245px;
  left: 50%;
  font-family: Arial;
  text-align: left;
  display: none;
}
.infoBubbleIcon{
  float: left;
  height: 40px;
  margin: 0px;
}
.infoText{
  /* background-color: white; */
  /* border-radius: 7px; */
  float:left;
  padding: 0px 20px;
} 
.infoText p {
  margin: 0px;
  color: white;
  font-size: 90%;
}
.infoText ul {
  margin-top: 5px;
  padding-left: 0px;
  color: white;
  font-size: 80%;
}

#alertlegend {
  display: block;
  margin: 0px 0px 20px 15px;
  padding-top: 3px;
  z-index: 1000;
  width: 145px;
  height: 110px;
  background-color: white;
  border-radius: 7px;
}
#alertlegend h3 {
  margin-top: 8px;
  padding-left: 15px;
}
#alertlegend ul {
  margin-top: -8px;
  padding-left: 33px;
}

.smallBoxStyle > p {
  margin-top: -10px;
}


li#typical {
  /* list-style-image: url('circle.png'); */
}
li#moderate {
  /* list-style-image: url('circleO.png'); */
}
li#extreme {
  /* list-style-image: url('circleR.png'); */
}
ul {
  list-style-type: none;
  line-height: 22px;
}
#alertlegend > ul > li
{
 /* color: red; */
 margin-left: -18px;
}

#alertlegend ul li span {
    /* Text color */
    color: black;
}

/* html, body{
    height: 100%;
}

#map-holder{
    height: 100%;
} */

.fill{
    min-height: 100%;
    height: 100%;
    width: 100%;
    max-width: 100%;
}

/* .container{
    max-width:60em;
    padding: 0.2em;
} */

.container {
  height: 100%;
   display: grid;
   grid-gap: 0px;
   grid-template-columns: repeat(12, 1fr);
   grid-template-rows: 100%;
   grid-template-areas:
       "m m m m m m m m m m m m";
       /*"l g g g g g g g g g g r";*/
            }
/*.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
}*/
.left{
  grid-area: l;
  align-self: start;
}
.mymap{
  grid-area: m;
  display: grid;
  grid-gap: 20px;
  padding: 0px;
  grid-template-columns: 250px 340px 500px;
  grid-template-rows: 70px 70px 70px 70px;
}
#overlayParent {
  /*width: 100%;
  height: 100%;*/
  display: grid;
  grid-gap: 20px;
  padding: 15px;
  grid-template-columns: 250px 340px 500px;
  grid-template-rows: 70px 70px 70px 46px;
  z-index: 1000;
}
.right{
  grid-area: r;
  align-self: start;
}
.graph{
  grid-area: g;
}

.myclose {
    float:right;
    display:inline-block;
    padding:5px 5px;
    font-size: large;
    line-height: 12px;
    /*background:#ccc;*/
}
/* .title{
grid-column: span 12;
}


.graph{
  grid-column: span 12;
} */

table,
th,
td {
  /*border: 1px solid #ddd;*/
  border-collapse: collapse;
  padding: 7px 0px 7px 0px;
  text-align:center;
}

table {
  margin-left: -15px;
  margin-top: -5px;
  width: 340px;
  position:relative;
}

th {
  /* height: 20px; */
}

tr:hover {
  /*background-color: #ffff99;*/
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
  margin-bottom: -20px;
  /*transform: scale(1.1);*/
}

tr:hover:nth-child(8) {
  border-top: 1px solid #ddd;
  border-bottom: none;
  font-size: 16px;
}

tr:hover::after {
  content: '';
	position: fixed;

	border: 18px solid transparent;
	border-left-color: white;
	border-right: 0px;
	margin-top: -0px;
	margin-right: -0px;
}

tr img:hover{
  transform: scale(1.5);
}
/* tr:hover:nth-child(8)::after {
  content: '';
	position: absolute;

	border: 18px solid transparent;
	border-left-color: white;
	border-right: 0px;
	margin-top: -0px;
	margin-right: -0px;
  right: -12px;
} */

.selectedRow{
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  /* opacity: 1.0; */
}

.selectedRow img{
    transform: scale(1.5);
}

.selectedRow .dayColumn{
    font-size: 16px;
}

/* Give back full opacity to hovered row row that is not selected */
tr:not(.selectedRow):hover{
  opacity: 1.0;
}

/* tr:not(.selectedRow){
  opacity: 0.3;
} */
.selectedRow:nth-child(8){
  border-top: 1px solid #ddd;
  border-bottom: none;
}

.selectedRow::after{
  content: '';
  position: fixed;

  border: 16px solid transparent;
  border-left-color: white;
  border-right: 0px;
  margin-top: -0px;
  margin-right: -0px;
}


/*fixed column width so it stays constant on hover events*/
td.dayColumn{
  width: 120px;
}

table#datatable tbody  tr {
    cursor : pointer;
}

.boxElement{
  /*background: #2db34a;*/
   height: 80px;
   line-height: 12px;
   position: absolute;
   text-align: left;
   width: 80px;
}
.boxElement h2, .boxElement h3, .boxElement p {
    padding-left: 10px;
}

div#tideAlert{
  /*position:absolute;*/
  left: 10px;
  top: 5px;
  width: 40%;
  height: 40%;
  padding: 0px;
}

div#tideInfo{
  right: 20px;
  top: 35px;
  width: 45%;
  line-height: 5px;
  height: 38%;
  border:1px solid rgba(178,178,178,1.0);
  border-radius: 7px;
}

div#addTideInfo{
  right: 20px;
  top: 35px;
  width: 45%;
  line-height: 5px;
  height: 38%;
  border:1px solid rgba(178,178,178,1.0);
  border-radius: 7px;
  display: none;
}

#addTideInfo h3 {
  margin: 14px 0px -2px 0px;
}
#addTideInfo h3, p {
  font-size: 12px;
}

.infoImg{
  margin-left: 7px;
  vertical-align: middle;
}

.infoImg:hover{
  transform: scale(1.3);
  cursor : pointer;
}

#noteText{
  margin-top: 3px;
  padding: 0px 10px;
  line-height: 10px;
  font-size: 9px !important;
}

div#waveAlert{
  /*position: relative;*/
  top: 160px;
  left: 10px;
  width: 40%;
  height: 40%;
}

div#waveInfo{
  /*float:none;*/
  right: 20px;
  bottom: 20px;
  width: 45%;
  height: 38%;
  line-height: 5px;
  border:1px solid rgba(178,178,178,1.0);
  border-radius: 7px;
}

#tideWarning, #waveWarning{
  background-color: grey;
  border-radius: 5px;
  padding: 5px 12px 5px 12px;
  margin-top: -12px;
  display: inline;
  margin-left: 12px;
  width: inherit;
  color: white;
  font-weight: bold;
}


div#detailLink{
  top: 0px;
  right: 30px;
  width: 45%;
  height: 15px;
}

#helpText{
  font-size: 12px;
  font-style: italic;
  font-weight: normal;
  /* color: grey; */
}

#arrowTide, #arrowWave{
  width: 30px;
  height: 30px;
  float: left;
  margin-left: -40px;
  margin-top: 45px;
}

#arrowDown{
  width: 18px;
  padding: 5px 0px 5px 12px;
  margin: -5px 0px -5px 0px;
}

#plusSign{
  width: 16px;

}

#tideValue, #mslValue, #swellValues, #waveValue{
  font-size: 1.17em;
}
.info{
  margin-top: -5px;
}
h3, h4, th, p{
  color: #5d5959;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  /* max-height: 140px; */
  width: 100%;
  min-width: 400px;
  /* background-color: white; */
  /* color: white; */
  z-index: 1000;
}

/* footer content styles */
.row{
  padding: 25px 0px 10px 0px;
  background-color: white;
  /* max-height: 120px; */
}
/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.column1 {
  float: left;
  width: 35%;
  min-width: 385px;
  margin-bottom: 5px;
  padding: 0px 0px 0px 2%;
}
.column2 {
  float: left;
  width: 30%;
  min-width: 240px;
  margin-bottom: 10px;
  padding: 0px 0px 0px 2%;
}
.column3 {
  float: left;
  width: 12.5%;
  min-width: 140px;
  padding: 0px 0px 0px 2%;
}
.column4 {
  float: left;
  width: 12.5%;
  min-width: 140px;
  margin-bottom: 10px;
  padding: 0px 0px 0px 2%;
}
.siteLogo{
  /* max-width: 850px; */
  width: 100%;
}
.disclaimer{
  margin: 0;
  /* padding-right: 25%; */
  font-size: 67%;
  font-size: calc(5px + 0.3vw);
  line-height: 130%;
  padding: 8px;
  background-color: white;
  color: #1F4356;
  border: 1px solid #1F4356;
  border-radius: 3px;
}
.agencyLogo{
  /* max-width: 300px; */
  width: 100%;
}
.agencyRole{
  color: #1F4356;
  font-size: 85%;
  font-size: calc(5px + 0.25vw);
  margin: -3px 0px 2px 0px;
}
.leaflet-control-attribution{
  min-width: 405px;
}
/*
#logo1{
  float: left;
  padding-top: 15px;
}
#logo2{
  padding: 40px 40px 0px 40px;
  float: right;
}
#logo3{
  float: right;
}
*/
/* end footer styles */

.myCSSClass{
  color: pink;
}

.my-div-icon{
  background:rgba(255,0,0,0.5);
    border:5px solid rgba(255,0,0,1.0);
    color:blue;
    font-weight:bold;
    text-align:center;
    border-radius:50%;
    line-height:30px;
    transform: scale(1);
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.textCircle {
    border-radius: 5%;

    width: 80px;
    height: 30px;
    padding: 3px;
    margin: 1px;

    background: red;
    border: 2px solid red;
    color: white;
    text-align: center;

    font: 11px Arial, sans-serif;
    /* display: inline */
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    from {background: rgba(255,0,0,0.5);}
    to {background: rgba(255,0,0,1.0);}
}

/* Standard syntax */
@keyframes example {
    from {background: rgba(255,0,0,0.5);
      transform: scale(1);}
    to {background: rgba(255,0,0,1.0);
      transform: scale(2);}
}
/* @keyframes blink {
      10% {
        transform: scale(1,1);
      }
      20% {
        transform: scale(1.5,1.5);
      }
      30% {
        transform: scale(1,1);
      }
      40% {
        transform: scale(1.5,1.5);
      }
    } */
