
html, body, .container /*, and all other map parent selectors*/ {
  height: 100%;
  overflow: hidden;
  width: 100%;
  margin:auto;
}
h1 {
    color: #ff6f69;
    text-align: center;
}
#mapid {
    width: auto;
    height: 100%;
    /* width: 100px;
    height:500px;
    min-height: 100%;
    min-width: 100%;
    display: block; */
}



.item1 {
  padding-left: 15px;
  /*position: absolute;*/
  z-index: 1000;
  /*top: 5%;
  left: 2%;
  width: 20%;
  height: 7%;*/
  background-color: white;
  border-radius: 15px;
}

.item2 {
  padding-left: 15px;
  z-index: 1000;
  background-color: white;
  border-radius: 15px;
  grid-row-start: 2;
  grid-row-end: 3;
  display: none;
}

.item3 {
  padding-left: 15px;
  z-index: 1000;
  background-color: white;
  border-radius: 15px;
  grid-row-start: 1;
  grid-row-end: 5;
  display: none;


}

.item4 {
  padding-left: 15px;
  z-index: 1000;
  background-color: white;
  border-radius: 15px;
  grid-row-start: 1;
  grid-row-end: 5;
  display: none;
}

#alertlegend {
  /*float:left;*/
  position: absolute;
  z-index: 1000;
  bottom: 10%;
  left: 2%;
  width: 12%;
  height: 15%;
  background-color: white;
  border-radius: 15px;
}

.smallBoxStyle > p {
  margin-top: -10px;
}

#alertlegend > ul > li
{
 color: red;
}

#alertlegend ul li span {
    /* Text color */
    color: black;
}

/* html, body{
    height: 100%;
}

#map-holder{
    height: 100%;
} */

.fill{
    min-height: 100%;
    height: 100%;
    width: 100%;
    max-width: 100%;
}

/* .container{
    max-width:60em;
    padding: 0.2em;
} */

.container {
  height: 100%;
   display: grid;
   grid-gap: 0px;
   grid-template-columns: repeat(12, 1fr);
   grid-template-rows: 100%;
   grid-template-areas:
       "m m m m m m m m m m m m";
       /*"l g g g g g g g g g g r";*/
            }
/*.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
}*/
.left{
  grid-area: l;
  align-self: start;
}
.mymap{
  grid-area: m;
  display: grid;
  grid-gap: 20px;
  padding: 20px;
  grid-template-columns: 250px 340px 500px;
  grid-template-rows: 70px 70px 70px 70px;
}
#overlayParent {
  /*width: 100%;
  height: 100%;*/
  display: grid;
  grid-gap: 20px;
  padding: 20px;
  grid-template-columns: 250px 340px 500px;
  grid-template-rows: 70px 70px 70px 70px;
  z-index: 1000;
}
.right{
  grid-area: r;
  align-self: start;
}
.graph{
  grid-area: g;
}

.close {
    float:right;
    display:inline-block;
    padding:2px 5px;
    /*background:#ccc;*/
}
/* .title{
grid-column: span 12;
}


.graph{
  grid-column: span 12;
} */

table,
th,
td {
  /*border: 1px solid #ddd;*/
  border-collapse: collapse;
  padding: 7px 0px 7px 0px;
  text-align:center;
}

table {
  margin-left: -15px;
  width: 340px;
}

th {
  height: 20px;
}

tr:hover {
  background-color: #ffff99;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
  /*transform: scale(1.1);*/
}


.myCSSClass{
  color: pink;
}

.my-div-icon{
  background:rgba(255,0,0,0.5);
    border:5px solid rgba(255,0,0,1.0);
    color:blue;
    font-weight:bold;
    text-align:center;
    border-radius:50%;
    line-height:30px;
    transform: scale(1);
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.textCircle {
    border-radius: 5%;

    width: 80px;
    height: 30px;
    padding: 3px;
    margin: 1px;

    background: red;
    border: 2px solid red;
    color: white;
    text-align: center;

    font: 11px Arial, sans-serif;
    /* display: inline */
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    from {background: rgba(255,0,0,0.5);}
    to {background: rgba(255,0,0,1.0);}
}

/* Standard syntax */
@keyframes example {
    from {background: rgba(255,0,0,0.5);
      transform: scale(1);}
    to {background: rgba(255,0,0,1.0);
      transform: scale(2);}
}
/* @keyframes blink {
      10% {
        transform: scale(1,1);
      }
      20% {
        transform: scale(1.5,1.5);
      }
      30% {
        transform: scale(1,1);
      }
      40% {
        transform: scale(1.5,1.5);
      }
    } */
